#clock {

}

#clock img {

}

#hour {
	position: absolute;
	left: 10px;
	top: 10px;
	transform: rotate(45deg);
}

#minute {
	position: absolute;
	left: 10px;
	top: 10px;
	transform: rotate(45deg);
}

#second {
	position: absolute;
	left: 10px;
	top: 10px;
	transform: rotate(45deg);
}